// Typography

$mobile-modifier: 0.737221494;

/*----------  Font Size  ----------*/
$font-size-root:     		16px !default; // Applied to <html> element only
$font-size-base:     		1 !default;
$font-size-h1:       		3.052em !default; // 0.737221494
$font-size-h2:       		2.441em !default;
$font-size-h3:       		1.953em !default;
$font-size-h4:       		1.563em !default;
$font-size-h5:       		1.25em !default;
$font-size-h6:       		1em !default;

/*----------  Line Height  ----------*/

$line-height:				1.5 !default;
$line-height-h1:			1 !default;
$line-height-h2:    		1.2 !default;
$line-height-h3:    		1.2 !default;
$line-height-h4:    		1.2 !default;
$line-height-h5:    		1.5 !default;
$line-height-h6:    		1.2 !default;
