// callout

body .fl-callout,
body .fl-post-grid-post {
	background: var(--cp-color-canvas-main);
	border-radius: var(--cp-border-radius-sm);
}

body .fl-callout {
	padding-bottom: var(--cp-gap-base);
	overflow: hidden;
	height: 100%;

	img {
		border-radius: 0;
	}

	&:hover {
		.fl-callout-title a {
			color: var(--cp-color-text-link);
		}
	}

	.fl-photo {
		margin-bottom: 0; // var(--cp-gap--sm);
	}

	.fl-callout-title a {
		color: inherit;
		text-decoration: none;

		&:hover {
			color: var(--cp-color-text-link);
		}
	}

	&-photo-above-title {
		.fl-callout-title, .fl-callout-text-wrap, .fl-callout-subtitle {
			padding: 0;
			margin: var(--cp-gap--sm) var(--cp-gap--sm) var(--cp-gap-base);
		}
	}

	&-text {
		line-height: 1.5;
	}

	&-button {
		padding-top: var(--cp-gap--sm);
	}
	
	&-text-wrap,
	&-content {
		display: flex;
		flex-flow: column;
		flex-grow: 1;
	}

	.fl-photo-img {
		width: 100%;
	}
	
	&-photo-left,
	&-photo-right {
		padding: 0;

		.fl-callout-content {
			padding: var(--cp-gap--md);
		}

		.fl-callout-photo {
			margin: 0;
		}

		@include media-breakpoint-up( 'md' ) {
			.fl-callout-photo {
				position: relative;
				vertical-align: middle;
				width: 23.5%;
				padding: 0;
			}
			
			.fl-callout-photo--cover {
				
				.fl-photo-content,
				.fl-photo {
					height: 100%;
					width: 100%;
					position: absolute;
					left: 0;
					top: 0;
					text-align: center;
					display: flex;
					justify-content: center;
					overflow: hidden;
				}

				.fl-photo-content {
					img {
						display: block;
						max-width: none;
						height: 100%;
						width: auto;
					}
				}
			}
		}
		
	}
	
	&-photo-right {
		@include media-breakpoint-down('sm') {
			display: flex;
			flex-flow: column-reverse;
		}
	}

}

.fl-col-group-equal-height {
	.fl-module-callout,
	.fl-callout {
		height: 100%;
		display: flex;
		flex-flow: row;
	}
	
	.fl-callout-text-wrap, 
	.fl-module-content {
		flex-grow: 1;
	}
	
	.fl-callout-button {
		margin-top: auto;
	}
}