.fl-post-grid {
	
	&-post {
		position: relative;
		
		&.cp_staff {

			.fl-callout {
				&-photo-left,
				&-photo-right {
					.fl-callout-subtitle {
						margin-top: 0;
					}
					.fl-callout-title-wrap {
						margin-bottom: var( --cp-gap--sm );
					}
				}
			}
			
			.fl-callout-photo-above-title {
				
				.fl-callout-photo {
					position: relative;
				}
				
				.fl-callout-photo a:after {
						content: '';
						position: absolute;
						width: 100%;
						height: 100%;
						background: rgba(66, 66, 66, 0.4);
						left: 0;
						top: 0;
				}
				
				.fl-callout-title-wrap {
					position: relative;
					margin: 0;
				}
				
				.fl-callout-title-wrap-inner {
					position: absolute;
					bottom: 0;
					left: 0;
					padding-bottom: var(--cp-gap--md);
				}
				
				.fl-callout-title, .fl-callout-subtitle {
					position: relative;
					padding: var(--cp-gap-base) var(--cp-gap--md) 0 !important;
					margin: 0;
					z-index: 15;
					color: var( --cp-color-ui-inverted-light );
					
					a, a:hover {
						color: var( --cp-color-ui-inverted-light );
					}
				}

				.fl-callout-text-wrap {
					margin-top: var( --cp-gap--md );
					margin-bottom: var( --cp-gap--sm );
				}
				
			}
		}
		
		&.tribe_events {
			
			.fl-callout-photo-above-title {
				.fl-callout-title-wrap {
					margin:  0;
					position: relative;
					&-inner {
						position: absolute;
						width: 100%;
						left: 0;
						bottom: 100%;
					}
				}
				
				.fl-callout-title {
					position: relative;
					padding: var(--cp-gap--sm) var(--cp-gap--sm) var(--cp-gap-base) !important;
					z-index: 15;
					color: var( --cp-color-ui-inverted-light );
					
					a, a:hover {
						color: var( --cp-color-ui-inverted-light );
					}
					&:after {
						content: '';
						position: absolute;
						width: 100%;
						height: 100%;
						background: var( --cp-color-ui-secondary );
						opacity: .8;
						left: 0;
						top: 0;
						z-index: -1;
					}
				}
				
				.fl-callout-text-wrap {
					margin-top: var( --cp-gap--md );
					margin-bottom: var( --cp-gap--sm );
				}
				
			}
			
			.fl-callout {
				&-photo-left,
				&-photo-right {
					@include media-breakpoint-up('md') {
						.fl-callout-photo {
							width: 40.5%;
						}
					}
				}
			}
			
		}
	}
	
	
	
	
	
	.date-flag {
		position: absolute;
		top: 0;
		left: 0;
		padding: var(--cp-ui--gap-y-x--lg);
		background: var( --cp-color-ui-secondary );
		
		> * {
			color: var( --cp-color-ui-inverted-light );
		}
	}
}