/**
 * Astra Theme compatibility with Beaver Builder
 */

@import "beaverbuilder/callout";

body .fl-module {
	p,
	.fl-callout-title {
		padding: 0 !important;
	}
	
	//.fl-button-left {
	//	> a.fl-button {
	//		justify-content: flex-start;
	//	}
	//}
	//
	//.fl-button-right {
	//	> a.fl-button {
	//		justify-content: flex-end;
	//	}
	//}
}

.fl-builder-content {
	clear: both;	
}

.fl-theme-builder-archive {
	.fl-post-gallery-post.hentry,
	.fl-post-column > .hentry {
		margin: 0;
	}

	h2.fl-post-feed-title {
		clear: initial;
	}
}

// Fluid Width Support For Beaver Builder - Fluid Layout
.ast-fluid-width-layout .fl-row-fixed-width  .fl-row-fixed-width {
	padding-left: 0;
	padding-right: 0;
}