:root {
	--cp-color--primary: #ffffff;
	--cp--background: transparent;
	--cp--text-color: inherit;

	--cp-color-primary-h: 30;
	--cp-color-primary-s: 75%;
	--cp-color-primary-l: 36%;
	
	--cp-color-canvas: transparent;
	--cp-color-canvas-inverted: #333;
	
	--cp-color-brand-primary: hsl(var(--cp-color-primary-h), var(--cp-color-primary-s), var(--cp-color-primary-l));
	
	--cp-color-ui-primary: var(--cp-color-brand-primary);
	--cp-color-ui-secondary: #6c757d;
	--cp-color-ui-success: #198754;
	--cp-color-ui-info: #0dcaf0;
	--cp-color-ui-warn: #ffc107;
	--cp-color-ui-danger: #dc3545;	
	
	--cp-color-text-primary: #333;
	--cp-color-text-secondary: var(--cp-color-ui-secondary);
	--cp-color-text-inverted: #fff;
	--cp-color-text-link: var(--cp-color-brand-primary);
	--cp-color-text-success: var(--cp-color-ui-success);
	--cp-color-text-info: var(--cp-color-ui-info);
	--cp-color-text-warn: var(--cp-color-ui-warn);
	--cp-color-text-danger: var(--cp-color-ui-danger);

	--cp-font-size--sm: .85em;
	--cp-font-size--lg: 1.5em;
	
	--cp-grid--gap: 1rem;
	--cp-grid--sm: 576px;
	--cp-grid--md: 768px;
	--cp-grid--lg: 1025px;
	--cp-grid--xl: 1280px;
	--cp-grid--xxl: 1920px;
	
	--cp-gap-base: 8px;
	--cp-gap--large: 16px;
	
	--cp-ui--gap-y: .75em;
	--cp-ui--gap-x: 1.5em;
	--cp-ui--gap-y-x: var(--cp-ui--gap-y) var(--cp-ui--gap-x);
	
	--cp-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);

	--cp-border-radius-sm: 2px;
	--cp-border-radius: 4px;
	--cp-border-radius-lg: 20px;
	--cp-border-radius-round: 100px;
}