@import "headings";

p {
	font-size: var(--cp-font-size);
}

%text-xlarge, .text-xlarge {
	@extend %text-em;
	font-size: var(--cp-font-size);
}

%text-large, .text-large {
	font-weight: 500;
	font-size: var(--cp-font-size);
}

%text-small, .text-small {
	font-size: var(--cp-font-size--sm);
}

%text-xsmall, .text-xsmall {
	font-size: var(--cp-font-size--xs);
}

%text-em, .text-em {
	text-transform: uppercase;
	letter-spacing: .08em;
	line-height: 1.5;
	font-weight: 500;
}
