/**
 * AST HF Builder - Grid related CSS.
 */
 .ast-builder-grid-row {
	display: grid;
	grid-template-columns: auto auto;
	align-items: center;
	grid-column-gap: 20px;
	overflow-wrap: anywhere;
	> .site-header-section {
		flex-wrap: nowrap;
	}
}
.ast-builder-footer-grid-columns {
	grid-column-gap: 50px;
}
.ast-builder-grid-row.ast-grid-center-col-layout {
	grid-template-columns: 1fr auto 1fr;
}

.ast-builder-layout-element {
	align-items: center;
}

.ast-builder-grid-row.ast-grid-center-col-layout-only {
	display: flex;
	height: 100%;
	justify-content: center;
	.ast-grid-section-center {
		flex-grow: 1;
	}
}
.site-header-section {
	height: 100%;
	min-height: 0;
	align-items: center;
	.ast-main-header-bar-alignment {
		height: 100%;
	}
	>* {
		padding: 0 10px;
	}
	>div {
		&:first-child {
			padding-left: 0;
		}
		&:last-child {
			padding-right: 0;
		}
	}
	.ast-builder-menu {
		align-items: center;
	}
}
.ast-builder-layout-element.ast-header-search {
	height: auto;
}
.ast-grid-right-center-section {
	justify-content: flex-start;
	flex-grow: 1;
}
.ast-grid-right-section {
	justify-content: flex-end;
	.ast-site-identity {
		> {
			:first-child {
				text-align: right;
			}
		}
	}
	.ast-grid-right-center-section {
		.ast-site-identity {
			> {
				:first-child {
					text-align: left;
				}
			}
		}
	}
}
.ast-grid-left-center-section {
	justify-content: flex-end;
	flex-grow: 1;
}

/**
 * AST HF Builder - Logo related CSS.
 * Align center section's Site title & Tagline center align.
 */
.ast-logo-title-inline{
	.ast-site-identity {
		padding: 1em 0;
	    display: inline-flex;
	    vertical-align: middle;
	    align-items: center;
		transition: all 0.2s linear;
	}
}
.ast-grid-section-center {
    justify-content: center;
	.ast-site-identity {
		> {
			:first-child {
				text-align: center;
			}
		}
	}
}

/**
 * AST HF Builder - Widgets related CSS.
 * Social Widget.
 */
.ast-builder-social-element {
	line-height: 1;
	color: #3a3a3a;
	background: transparent;
	vertical-align: middle;
	transition: all 0.01s;
	margin-left: 6px;
	margin-right: 6px;
	justify-content: center;
	align-items: center;
	&:hover {
		color: #0274be;
	}
	.social-item-label {
		padding-left: 6px;
	}
}
.ast-social-stack-desktop,
.ast-social-stack-tablet,
.ast-social-stack-mobile {
	.ast-builder-social-element {
		margin-top: 6px;
		margin-bottom: 6px;
	}
}
.ahfb-svg-iconset {
	display: -webkit-inline-box;
	display: inline-flex;
	align-self: center;
	svg {
		width: 17px;
		height: 17px;
		transition: none;
		>* {
			transition: none;
		}
	}
}

/**
 * AST HF Builder - Widgets related CSS.
 * Button.
 */

.ast-footer-copyright {
	p {
		margin-bottom: 0;
	}
}
.ast-builder-grid-row-container {
	display: grid;
	align-content: center;
}
.main-header-bar{
	.main-header-bar-navigation {
		height: 100%;
	}
}
.ast-nav-menu {
	.sub-menu {
		line-height: 1.45;
	}
}
.ast-builder-menu {
	.main-navigation {
		padding: 0;
		> ul {
			align-self: center;
		}
	}
}
/**
 * Astra HF Builder - Footer Components Compatibility CSS.
 */
.site-footer-focus-item, .ast-footer-copyright, .ast-footer-social-wrap {
	width: 100%;
}
#astra-footer-menu {
	margin: 0;
	list-style: none;
	background: inherit;
	>ul {
		margin: 0;
		list-style: none;
		background: inherit;
	}
}
/**
 * AST HF Builder - Responsive CSS.
 * For desktop view.
 */

.ast-header-break-point {
	#ast-mobile-header {
		display: block;
	}
	.main-header-bar-navigation {
		line-height: 3;
		.menu-item-has-children {
			>.ast-menu-toggle {
				display: inline-block;
				position: absolute;
				font-size: inherit;
				top: 0px;
				right: 20px;
				cursor: pointer;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				padding: 0 0.907em;
				font-weight: normal;
				line-height: inherit;
			}
			.sub-menu {
				display: none;
			}
		}
	}
	.ast-mobile-header-wrap {
		.ast-above-header-wrap,
		.ast-main-header-wrap{
			.main-header-bar-navigation {
				.ast-submenu-expanded {
					>.ast-menu-toggle {
						&::before {
							transform: rotateX(180deg);
						}
					}
				}
			}
		}
	}
	.ast-nav-menu {
		.sub-menu {
			line-height: 3;
		}
	}
}
.site-footer-section {
	justify-content: center;
	& > * {
		margin-bottom: 10px;
	}
	& > *:last-child {
		margin-bottom: 0;
	}
}

.site-primary-footer-wrap {
	padding-top: 45px;
	padding-bottom: 45px;
}

.site-above-footer-wrap,
.site-below-footer-wrap {
	padding-top: 20px;
	padding-bottom: 20px;
}

.ast-hfb-header.ast-header-break-point {
	.main-header-bar-navigation {
		width: 100%;
		margin: 0;
	}
}
.ast-hfb-header {
	.menu-toggle.toggled {
		.ast-mobile-svg {
			display: none;
		}
		.ast-close-svg {
			display: block;
		}
	}
}
.menu-toggle .ast-close-svg {
	display: none;
}
.ast-mobile-header-wrap {
	.menu-toggle {
		.mobile-menu-toggle-icon {
			display: inline-flex;
			align-self: center;
		}
		.mobile-menu-wrap {
			display: inline-flex;
			align-self: center;
			margin-left: 0.4em;
		}
	}
	.ast-button-wrap {
		.menu-toggle.main-header-menu-toggle {
			display: flex;
			align-items: center;
			width: auto;
			height: auto;
		}
	}
}
.menu-toggle {
	.mobile-menu-toggle-icon {
		display: inline-flex;
		align-self: center;
	}
	.mobile-menu-wrap {
		display: inline-flex;
		align-self: center;
		margin-left: 0.4em;
	}
}
.ast-hfb-header .ast-button-wrap .menu-toggle .mobile-menu-wrap {
	align-items: center;
    display: flex;
}
.ast-button-wrap {
	.menu-toggle.main-header-menu-toggle {
		padding: .5em;
		align-items: center;
		display: flex;
	}
}
.ast-search-menu-icon.ast-inline-search {
	.search-field {
		width: 100%;
		padding: 0.60em;
		padding-right: 5.5em;
	}
}


/* Footer menu spacing between each menu items. */
@media (min-width: $col-md ) {
	.footer-nav-wrap {
		.astra-footer-horizontal-menu {
			li {
				margin: 0;
				&:first-child a {
					padding-left: 0;
				}
				&:last-child a {
					padding-right: 0;
				}
			}
			a {
				padding: 0 0.5em;
			}
		}
	}
}
